@font-face {
    font-family: kajiro;
    src: url(Gilroy-BlackItalic.otf);
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    font-family: kajiro;
    text-align: center;
}

#main{
    width: 100vw;
    height: 100vh;
    display: none;
}

#main>h2{
    font-family: kajiro;
    font-size: 5.5vw;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    white-space: nowrap;
}

h1{
    font-size: 5vw;
}

@media (max-width: 500px){
    body{
        background: black;
    }

    #main{
        display: initial;
    }

    #game{
        display: none;
    }
}